<template>
  <div class="container-fluid mt-5 todo-list">
    <div class="row">
      <div class="col-0 col-sm-0 col-md-0 col-lg-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <!-- ProcessBar -->
        <!-- <div class="mt-2 mb-3">
          <b-progress :max="numAllTodos" animated striped>
            <b-progress-bar
              :value="numTodosCompleted"
              :variant="variantProgress"
              :label="percentTodoCompleted"
            ></b-progress-bar>
          </b-progress>
        </div>-->
        <!-- Notification done all todo -->
        <div class="mt-2 mb-3">
          <b-alert
            show
            dismissible
            variant="success"
            v-if="checkAllCompleted && !isLoading"
          >Bạn đã hoàn thành hết tất cả các công việc !</b-alert>
        </div>
        <!-- Notification when add todo wrong  -->
        <div class="mb-3">
          <b-alert show dismissible variant="danger" v-if="isNotification">{{contentNotification}}</b-alert>
        </div>
        <!-- Form Add a todo -->
        <b-input-group size="lg" class="mb-3" v-if="!isEdit">
          <b-form-input placeholder="Nhập Công việc cần làm" v-model="title" @keyup.enter="addTodo"></b-form-input>
          <b-input-group-append>
            <b-button
              size="lg"
              text="Button"
              variant="success"
              class="btn-fill"
              v-on:click="addTodo"
            >Thêm</b-button>
          </b-input-group-append>
        </b-input-group>
        <!-- Form update a todo -->
        <b-input-group size="lg" class="mb-3" v-else>
          <b-form-input v-model="titleUpdate" @keyup.enter="updateTodo" ref="updateTodo"></b-form-input>
          <b-input-group-append>
            <b-button
              size="lg"
              text="Button"
              variant="success"
              class="btn-fill"
              v-on:click="updateTodo"
            >Cập nhật</b-button>
          </b-input-group-append>
        </b-input-group>
        <!-- table display list todo -->
        <table-todo
          :dataTodos="dataTodos"
          :totalTodo="numAllTodos"
          v-on:deleteTodoEvent="deleteTodo"
          v-on:showUpdateEvent="showUpdate"
          v-on:doneTodoEvent="doneTodo"
        ></table-todo>
        <!-- delete all and watch all todo was done  -->
        <div class="row mt-2">
          <div class="col-6">
            <b-button
              size="sm"
              text="Button"
              variant="danger"
              class="btn-fill mb-3"
              v-on:click="deleteAllToDo"
              v-if="showDeleteAllTodo"
            >Xóa hết các công việc đã hoàn thành</b-button>
          </div>
          <div class="col-6">
            <h5 v-if="!checkAllCompleted" class="float-right">
              Hoàn thành xong
              <b-badge variant="primary" class="mr-1">{{numTodosCompleted}}</b-badge>công việc
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-sm-0 col-md-0 col-lg-2"></div>
  </div>
</template>
<script>
import TableTodo from "../components/TableTodo.vue";
import icon from "vue-icon/lib/feather-icons.esm";

export default {
  components: {
    TableTodo,
    icon
  },
  created() {
    this.$store.dispatch("retrieveTodos");
  },
  data() {
    return {
      title: "",
      titleUpdate: "",
      beforeEditCache: "",
      isEdit: false,
      idTodoUpdate: null,
      isNotification: false,
      contentNotification: ""
    };
  },
  computed: {
    isLoading() {
      return this.$store.state.loading;
    },
    dataTodos() {
      return this.$store.state.todoPagination;
    },
    numTodosCompleted() {
      return this.$store.getters.numTodosCompleted;
    },
    numAllTodos() {
      return this.$store.getters.numAllTodos;
    },
    checkAllCompleted() {
      return this.numTodosCompleted == this.numAllTodos;
    },
    variantProgress() {
      return this.numTodosCompleted == this.numAllTodos ? "success" : "primary";
    },
    showDeleteAllTodo() {
      return this.numTodosCompleted > 0;
    },
    percentTodoCompleted() {
      if (this.$store.getters.lengthTodos <= 0) {
        return "Chưa có công việc";
      }
      return (
        ((this.numTodosCompleted / this.numAllTodos) * 100).toFixed(2) + "%"
      );
    }
  },

  methods: {
    showUpdate({ idTodo, title }) {
      this.isEdit = true;
      this.titleUpdate = title;
      this.idTodoUpdate = idTodo;
      this.beforeEditCache = this.titleUpdate;
      this.isNotification = false;
      this.$nextTick(() => this.$refs.updateTodo.focus());
    },
    doneTodo(idTodo) {
      this.$store.dispatch("doneTodo", idTodo);
    },

    addTodo() {
      if (this.title.trim() == "") {
        this.isNotification = true;
        this.contentNotification = "Tên công việc không được bỏ trống";
        return;
      }
      let idRandom = Math.floor(Math.random() * 1000 + 1);
      let todo = {
        id: idRandom,
        title: this.title,
        completed: false,
        created_on: new Date()
          .toJSON()
          .slice(0, 10)
          .replace(/-/g, "/")
      };
      this.$store.dispatch("addTodo", todo);
      this.title = "";
      this.isEdit = false;
      this.isNotification = false;
    },
    deleteTodo(idTodo) {
      this.$store.dispatch("deleteTodo", idTodo);
      this.isNotification = false;
      this.title = "";
      this.titleUpdate = "";
    },
    updateTodo() {
      if (this.titleUpdate.trim() == "") {
        this.titleUpdate = this.beforeEditCache;
        this.isNotification = true;
        this.contentNotification = "Tên công việc không được bỏ trống";
        return;
      }
      let todoUpdate = {
        id: this.idTodoUpdate,
        titleUpdate: this.titleUpdate
      };
      this.$store.dispatch("updateTodo", todoUpdate);
      this.title = "";
      this.titleUpdate = "";
      this.isEdit = false;
      this.idTodoUpdate = null;
      this.isNotification = false;
    },
    deleteAllToDo() {
      this.$store.dispatch("deleteAllTodo");
    }
  }
};
</script>
<style lang="scss">
.todo-list {
  margin-bottom: 100px;
}
</style>
