<template>
  <div>
    <div v-show="isLoading" class="mb-3 mt-5 text-center">
      <b-spinner type="grow" variant="success" label="Loading..."></b-spinner>
      <b-spinner type="grow" variant="danger" label="Loading..."></b-spinner>
      <b-spinner type="grow" variant="warning" label="Loading..."></b-spinner>
      <div class="mt-2">
        <strong>Loading...</strong>
      </div>
    </div>
    <div v-show="!isLoading" class="overflow-auto">
      <!-- pagination todo -->
      <div v-show="dataTodos.length !== 0">
        <div class="float-left">
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="todo-table"
          ></b-pagination>
        </div>
        <div class="float-right">
          <b-form-select v-model="perPage" class="mb-3">
            <option value="5">Hiển thị 5 công việc</option>
            <option value="10">Hiển thị 10 công việc</option>
            <option value="20">Hiển thị 20 công việc</option>
          </b-form-select>
        </div>
        <div class="float-right mr-2">
          <b-form-select v-model="filter" class="mb-3">
            <option value="all">Tất cả</option>
            <option value="finished">Đã hoàn thành</option>
            <option value="unfinished">Chưa hoàn thành</option>
          </b-form-select>
        </div>
      </div>
      <div class="text-center" v-show="dataTodos.length !== 0">
        <b-button class="btn btn-sm btn-fill" variant="primary">
          Tổng số công việc:
          <b-badge variant="danger">{{totalTodo}}</b-badge>
        </b-button>
      </div>

      <b-table-simple light hover id="todo-table" v-if="dataTodos.length !== 0 ">
        <b-thead head-variant="light">
          <b-tr>
            <b-th>Hoàn thành</b-th>
            <b-th>Tên Công việc</b-th>
            <b-th>Tùy chọn</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="(item, index) in dataTodos" :key="index">
            <b-td>
              <b-form-checkbox
                size="lg"
                :checked="item.completed"
                v-on:change="doneTodo(item.id, item.completed)"
              ></b-form-checkbox>
            </b-td>
            <b-td>
              <p class="h5" v-if="!item.completed">{{ item.title}}</p>
              <p class="h5" v-else>
                <del>{{ item.title}}</del>
              </p>
            </b-td>
            <b-td>
              <b-button
                variant="outline-danger"
                class="btn btn-sm btn-fill mr-lg-5 border-none"
                :id="item.id"
                v-on:click="deleteTodo(item.id)"
              >
                <v-icon name="trash-2" width="20" height="20"></v-icon>
              </b-button>
              <b-button
                variant="outline-warning"
                class="btn btn-sm btn-fill border-none"
                :id="item.id"
                v-on:click="showUpdate(item.id, item.title)"
              >
                <v-icon name="edit" width="20" height="20"></v-icon>
              </b-button>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>

      <div
        v-else
        class="alert alert-warning mt-5 text-center"
        role="alert"
      >Chưa có công việc nào được thêm vào !!!</div>
    </div>
  </div>
</template>
<script>
import icon from "vue-icon/lib/feather-icons.esm";
export default {
  components: {
    icon
  },
  name: "table-todo",
  data() {
    return {};
  },
  props: {
    dataTodos: {
      type: Array,
      default: []
    },
    totalTodo: {
      type: Number
    }
  },
  computed: {
    isLoading() {
      return this.$store.state.loading;
    },
    rows() {
      return this.$store.getters.getRows;
    },
    perPage: {
      get() {
        return this.$store.getters.getPerPage;
      },
      set(value) {
        const pagination = {
          perPage: value,
          currentPage: this.currentPage,
          filter: this.$store.getters.getFilter
        };
        this.$store.dispatch("ChangeCurrentPage", pagination);
      }
    },
    filter: {
      get() {
        return this.$store.getters.getFilter;
      },
      set(value) {
        const filterBy = {
          filter: value,
          currentPage: this.currentPage
        };
        this.$store.dispatch("changeFilter", filterBy);
      }
    },
    currentPage: {
      get() {
        return this.$store.getters.getCurrentPage;
      },
      set(value) {
        const pagination = {
          perPage: this.perPage,
          currentPage: value,
          filter: this.$store.getters.getFilter
        };
        this.$store.dispatch("ChangeCurrentPage", pagination);
      }
    }
  },
  methods: {
    deleteTodo(idTodo) {
      this.$emit("deleteTodoEvent", idTodo);
    },
    showUpdate(idTodo, title) {
      this.$emit("showUpdateEvent", { idTodo, title });
    },
    doneTodo(idTodo, completed) {
      this.$emit("doneTodoEvent", { idTodo, completed });
    }
  }
};
</script>
<style>
.border-none {
  border: none !important;
}
</style>
