<template>
  <div id="app">
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav class="mr-auto">
        <b-nav-item v-if="isLogin">
          Xin Chào
          <strong class="username">{{username}}</strong>
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item v-if="isLogin" href="/">Home</b-nav-item>
        <b-nav-item v-if="isLogin" href="/about">About</b-nav-item>
        <b-nav-item v-if="isLogin" href="/todolist">Todo List</b-nav-item>
        <b-nav-item v-if="isLogin" v-on:click="onLogout">Logout</b-nav-item>

        <b-nav-item v-if="!isLogin" href="/login">Login</b-nav-item>
        <b-nav-item v-if="!isLogin" href="/register">Register</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <router-view />
  </div>
</template>

<script>
export default {
  computed: {
    isLogin() {
      return this.$store.state.loggedIn;
    },
    username() {
      return this.$store.state.username;
    }
  },
  watch: {
    isLogin(value) {
      if (!value) {
        this.$router.push("/login", () => {});
      }
    }
  },
  methods: {
    onLogout() {
      this.$store.dispatch("logoutAction");
      this.$router.push("/login");
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
  .username {
    color: #42b983;
  }
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
