<template>
  <b-container class="form-login mt-5">
    <b-row>
      <b-col cols="0" sm="1" md="2" lg="3"></b-col>
      <b-col cols="10" sm="10" md="8" lg="6">
        <div v-show="isLoading" class="mb-3 text-center">
          <b-spinner type="grow" variant="success" label="Loading..."></b-spinner>
          <b-spinner type="grow" variant="danger" label="Loading..."></b-spinner>
          <b-spinner type="grow" variant="warning" label="Loading..."></b-spinner>
          <div class="mt-2">
            <strong>Loading...</strong>
          </div>
        </div>

        <div class="mb-3">
          <b-alert show dismissible variant="danger" v-if="error!=null">{{error}}</b-alert>
        </div>

        <b-form class="form-test" @submit.prevent="onLogin">
          <b-form-group
            id="input-group-1"
            label="Email:"
            label-for="input-email"
            description="We'll never share your email with anyone else."
          >
            <b-form-input
              id="input-email"
              v-model="form.email"
              type="email"
              required
              placeholder="Enter email"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-password" label="Password:" label-for="input-password">
            <b-form-input
              id="input-password"
              v-model="form.password"
              type="password"
              required
              placeholder="Enter password"
            ></b-form-input>
          </b-form-group>

          <div class="mt-2 row">
            <div class="col-6">
              <b-form-checkbox
                id="checkbox-remember"
                v-model="form.remeber"
                name="checkbox-remember"
                value="accepted"
                unchecked-value="not_accepted"
              >Remember me</b-form-checkbox>
            </div>
            <div class="col-6">
              <b-link class="float-right">Forgot your password?</b-link>
            </div>
          </div>

          <div class="mt-3">
            <b-button type="submit" class="btnLogin" variant="success">Login</b-button>
          </div>
        </b-form>
        <div class="choosen-register mt-4 text-center">
          Don't have an account yet?
          <b-link href="/register">Register now</b-link>
        </div>
      </b-col>
      <b-col cols="0" sm="1" md="2" lg="3"></b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      form: {
        email: "",
        name: "",
        remember: ""
      }
    };
  },
  computed: {
    error() {
      return this.$store.getters.getError;
    },
    isLogin() {
      return this.$store.state.loggedIn;
    },
    isLoading() {
      return this.$store.state.loading;
    }
  },
  watch: {
    isLogin(value) {
      if (value === true) {
        this.$router.push("/todolist");
      } else {
        this.$router.push("/login");
      }
    }
  },
  methods: {
    onLogin() {
      this.$store.dispatch("loginAction", {
        email: this.form.email,
        password: this.form.password
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.form-login {
  text-align: left;
  .form-test {
    border: 1px solid #eae9e9;
    border-radius: 20px;
    padding: 30px;
  }
}
.btnLogin {
  width: 100%;
}
</style>