<template>
  <b-container class="form-login mt-5">
    <b-row>
      <b-col cols="0" sm="1" md="2" lg="3"></b-col>
      <b-col cols="10" sm="10" md="8" lg="6">
        <div v-show="isLoading" class="mb-3 text-center">
          <b-spinner type="grow" variant="success" label="Loading..."></b-spinner>
          <b-spinner type="grow" variant="danger" label="Loading..."></b-spinner>
          <b-spinner type="grow" variant="warning" label="Loading..."></b-spinner>
          <div class="mt-2">
            <strong>Loading...</strong>
          </div>
        </div>

        <div class="mb-3">
          <b-alert show dismissible variant="danger" v-if="error!=null">{{error}}</b-alert>
        </div>

        <b-form class="form-test" @submit.prevent="onRegister">
          <b-form-group id="input-group-username" label="Username:" label-for="input-username">
            <b-form-input
              id="input-username"
              v-model="form.username"
              type="text"
              autocomplete="off"
              required
              placeholder="Enter Username"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-email" label="Email:" label-for="input-email">
            <b-form-input
              id="input-email"
              v-model="form.email"
              type="email"
              required
              placeholder="Enter email"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-password"
            label="Password:"
            label-for="input-password"
            description="Minimum length is 8 characters"
          >
            <b-form-input
              id="input-password"
              v-model="form.password"
              type="password"
              required
              placeholder="Enter password"
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-rePassword" label="Password:" label-for="input-rePassword">
            <b-form-input
              id="input-rePassword"
              v-model="form.rePassword"
              type="password"
              required
              placeholder="Enter your password again"
            ></b-form-input>
          </b-form-group>

          <div class="mt-3">
            <b-button type="submit" class="btnLogin" variant="success">Register</b-button>
          </div>
        </b-form>
        <div class="choosen-register mt-4 text-center">
          Already have login and password?
          <b-link href="/login">Login</b-link>
        </div>
      </b-col>
      <b-col cols="0" sm="1" md="2" lg="3"></b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "register",
  data() {
    return {
      form: {
        email: "",
        username: "",
        password: "",
        rePassword: ""
      }
    };
  },
  computed: {
    error: {
      get() {
        return this.$store.getters.getError;
      },
      set(value) {
        this.$store.commit("setError", value);
      }
    },
    isLogin() {
      return this.$store.state.loggedIn;
    },
    isLoading() {
      return this.$store.state.loading;
    }
  },
  watch: {
    isLogin(value) {
      if (value === true) {
        this.$router.push("/todolist");
      } else {
        this.$router.push("/login");
      }
    }
  },
  methods: {
    onRegister() {
      if (this.form.password !== this.form.rePassword) {
        this.error = "Password incorrect ! Please enter again!";
      } else {
        this.error = null;
        this.$store
          .dispatch("registerAction", {
            email: this.form.email,
            password: this.form.password,
            username: this.form.username,
            created_on: new Date()
              .toJSON()
              .slice(0, 10)
              .replace(/-/g, "/"),
            last_login: new Date()
              .toJSON()
              .slice(0, 10)
              .replace(/-/g, "/")
          })
          .then(response => {
            this.$store.dispatch("loginAction", {
              email: this.form.email,
              password: this.form.password
            });
          });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.form-login {
  text-align: left;
  .form-test {
    border: 1px solid #eae9e9;
    border-radius: 20px;
    padding: 30px;
  }
}
.btnLogin {
  width: 100%;
}
</style>